div {
    border-radius: 5px;
    border: 2px solid black;
    margin-left: 20px;
    padding-left:5px;
    text-decoration:none;

}

.inde div {
    border-radius: 5px;
    border: 2px solid #731313;
    
    color:#FB5B1F;
    
    
}

.nav {
    position: fixed;
    margin-top:10px;
    z-index:1;
    background-color:black;
    left:35%;
    margin-left:-100;
    padding-right:30px;
    
}
.content{
height:auto;

}
.nav li {
    /*Add your CSS here!*/
	display: inline;
    padding: 5px;
	border: 2px solid #731313;
	font-family: Futura, Tahoma, sans-serif;
	border-radius: 5px 5px;
	color: #000000;
    background-color:#FB5B1F;
}

/* possibly make margin top negative */
#header {
    z-index: 1;
    position: fixed;
    width: 98%;
    margin-top: -10px;
    background-color: #ccff99;
    margin-bottom: 10px;
    height: 80px;
    font-style: bold;
    text-align:left;
    font-size: 30px;
    font-family:Verdana;
    padding-left:0px;
    margin-left:5px;

}

#inheader {
        padding-bottom:30px;
	
	margin-top: 55px;
	height: 70px;
	background-color: #000000;
	margin-bottom: 10px;
	font-style:bold;
}


#name {
    padding-left:130px;
    
    
}

#inname {
    padding-left:5px;
    font-size:30px;
}

#email {
    font-size:16px;
    margin-right:10px;
    float: right;
    display:inline-block;
    
}


#inemail {
    font-size:16px;
    margin-right:40px;
    float: right;
    position:inherent;
    padding-top:5px;
    display:inline-block;
}

.right {
    position: relative;
    float: right;
    margin-top: 80px;
    width: 87%;
    height: 1100px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    padding-left: 10px;
    margin-left: 5px;
    padding-right: 10px;
    display:inline;
}
#dater {
    
    border: none;
    float: right;
    padding-right:500px;
    display: inline;
    
}

.left {
    position: relative;
    float: left;
    margin-top: 80px;
    width: 9%;
    height: 1100px;
    margin-bottom: 10px;
    background-color: #b8eeee;
    margin-left:5px;
    display:inline;
}

#footer {
    position: relative;
    height: 80px;
    background-color: #666633;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-left:5px;
}

.resume {
    border: 1px solid;
    /*background-color: #61d7a4*/;
    margin-bottom:10px;
    padding-top:20px;
    margin-top:10px;
    float:center;
    position:relative;
	
    
}
.resume li {
    font-size: 20px;
    color: #FB5B1F;
    
}
.gis {
    /*background-color: #00af64;*/
}
.blogs {
    margin-top: 10px;
    /*background-color: #3cd792;*/
}
.blog1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right:5px;
}
.blog2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right:5px;
}
.socialmedia {
    margin-top: 10px;
    /*background-color: #00af64;*/
    color: #FB5B1F;
    margin-bottom:15px;
}

#mapheader {
    z-index: 1;
    position: fixed;
    width: 98%;
    margin-top: -10px;
    /*background-color: #ccff99;*/
    margin-bottom: 10px;
    height: 100px;
    font-style: bold;
    text-align:center;
    font-size: 30px;
    font-family:Verdana;
    margin-left:10px;
}

.map {
    margin-bottom:8px;
    margin-right:5px;
    margin-left:5px;
}

a:hover {
    background-color:#FB5B1F ;
    color: #000000;
}

a div:hover {
    background-color:#FB5B1F ;
    color: #000000;
}

a li:hover {
    background-color:#FB5B1F ;
    color: #000000;
}



a {
    color:inherit;
    text-decoration:none;
}
div {
text-decoration:none;
}

.twitter-follow-button {

float:right;
display:inline-block;
margin-right:20px;

}

ul li {
    cursor:pointer;
}

ul.tabs li.selected {
    background-color:#000000;
    color: #FB5B1F;
    
}

#footer {
    background-color:#FB5B1F ;
    color: #000000;
    margin-left:20px;
    margin-top:15px;
}