#header {
	width: 100%;
	height: 70px;
	position: relative;
	top: -25px;
    padding-bottom:20px;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;

}

div {
    border: 2px solid #731313;
    background-color:black;
    color:#FB5B1F;
    border-radius:5px;
    padding:10px;
}

body {
    background-color:black;
}
a {
    text-decoration:none;
    color:#FB5B1F;
}

.inpuQ {
	width:90px;
	position:relative;
	display:inline-block; 
	border:0px;
	padding:-10px;
}
input{
	display:inline-block;
	    font-family: Verdana, Arial, sans-serif;
    color: black;
	position:relative;
}

.notes{
	width:400px;
	height: 80px;
	margin-bottom:25px;
}


input:invalid {
  box-shadow: 0 0 5px 1px red;
}